{% load i18n %}

<div class="modal fade" id="createList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{% translate "Create a new list" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url "favorites:create_list" %}" method="post">
        <div class="modal-body">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="name" id="name" placeholder="Ex.: Cellphones list">
              <label for="name">{% translate "Name" %}</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
          <button type="submit" class="btn btn-primary">{% translate "Create" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>