{% extends "base.html" %} 
{% load i18n %} 
{% load humanize %} 
{% load ecfilters%} 


{% block content %}

<div class="container m-3 p-3">
  
  <div class="d-flex flex-row justify-content-between mb-3">
    <div>
      <h1>{{ order }}</h1>
      <p>
        {% translate "Order placed" %} <b>{{ order.created_at|naturalday }}</b>
      </p>
    </div>

    <div>
      <h2>{% translate "Informations" %}</h1>
      <p class="mb-0">{{ order.total_items }} {% translate "items" %}</p>
      <p><b>{% translate "Total" %}: </b>{{ order.total_price|format_currency_template }}</p>
    </div>
  </div>

  <hr class="my-4" />

  {% for item in items %}
  <div class="row mb-3">
    <div class="col">
      <img src="{{ item.cover }}" alt="" style="height: 200px; width: auto" />
    </div>

    <div class="col">
      <h6>{{ item.name }}</h6>

      {% if item.promotional_price %}
      <p class="my-3">
        <b>{{ item.promotional_price|format_currency_template }}</b>
      </p>
      {% else %}
      <p class="my-3"><b>{{ item.price|format_currency_template }}</b></p>
      {% endif %}
      <span class="text-muted">{{ item.short_description }}</span>
      <p class="my-3"><b>{% translate "Quantity:" %} </b>{{ item.quantity }}</p>
    </div>
    <div class="col">
      <h6>{% translate "Delivery Address" %}</h6>
      <span class="text-muted">
        <p class="mb-0">
          {{ order.address.number }}, {{ order.address.street }}, {{ order.address.neighborhood }}
        </p>
        <p>
          {{ order.address.cep }}, {{ order.address.city }}, {{ order.address.state }}
        </p>
      </span>
    </div>
    <div class="col">
      <h6>{% translate "Shipping Updates" %}</h6>
      <span class="text-muted">
        <p class="mb-0">{{ order.user.email }}</p>
      </span>
    </div>
  </div>
  <hr class="my-4" />
  {% endfor %}
</div>

{% endblock content %}

