{% extends "base.html" %} 
{% load i18n %}
{% load ecfilters %}

{% block title %} {% translate "Cart"%} | {% endblock title %} 

{% block content %}

<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2 cart-box" style="border-radius: 15px">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">{% translate "Shopping Cart" %}</h1>
                    <h6 class="mb-0 text-muted">{{ cart|count_cart_items }} {% translate "items in total" %}</h6>
                  </div>

                  <hr class="my-4" />

                  {% if cart %}
                    {% for item in cart %}
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <a href="{% url "products:details" item.slug %}">
                          <img
                            src="{{ item.cover }}"
                            class="img-fluid rounded-3"
                            alt="{{ item.name }}"
                          />
                        </a>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{ item.category|translate_template }}</h6>
                        <h6 class="text-black mb-0">{{ item.name }}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 text-center">
                        <h6 class="text-muted">{% translate "Quantity" %}</h6>

                        <form action="{% url "products:remove-from-cart" item.id %}" method="post" class="d-inline">
                          {% csrf_token %}
                          <button class="btn-no-decoration hover-red" type="submit">
                            <i class="bi bi-dash-lg"></i>
                          </button>
                        </form>

                        <span class="text-black ms-3 me-3">{{ item.quantity}}</span>

                        <form action="{% url "products:to-cart" item.id %}" method="post" class="d-inline">
                          {% csrf_token %}
                          <button class="btn-no-decoration hover-red" type="submit">
                            <i class="bi bi-plus-lg"></i>
                          </button>
                        </form>


                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="text-muted">{% translate "Price" %}</h6>
                        {% if item.quant_promotional_price %}
                          <h6 class="mb-0">{{ item.quant_promotional_price|format_currency_template }}</h6>
                        {% else %}
                          <h6 class="mb-0">{{ item.quant_price|format_currency_template }}</h6>
                        {% endif %}
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"
                          ><i class="fas fa-times"></i
                        ></a>
                      </div>
                    </div>
                    <hr class="my-4" />
                    {% endfor %}
                  {% else %}
                  <div class="mt-5">
                    <h1> <i class="bi bi-cart-x"></i> {% translate "Your shopping cart is currently empty" %}.</h1>
                    <p class="lead">{% translate "Search for the items you like most and put them on your cart to complete the purchase" %}!</p>
                  </div>
                  {% endif %}

                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">{% translate "Summary" %}</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">{{ cart|count_cart_items }} {% translate "items" %}</h5>
                    <h5>{{ cart|cart_total_price|format_currency_template }}</h5>
                  </div>

                  

                  <hr class="my-4" />

                  <a class="btn btn-dark d-grid btn-lg" href="{% url "orders:checkout" %}">Checkout</a>
                </div>
              </div>
            </div>
            <div class="pt-5 cart-back-to-shopping">
              <h6 class="mb-0">
                <a href="{% url "products:index" %}" class="text-body"
                  ><i class="bi bi-arrow-left me-2"></i>{% translate "Back to shop" %}</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

