{% extends "base.html" %} 
{% load ecfilters %}
{% load i18n %}


{% block title %}{{ product.name }} | {% endblock title %} 

{% block content %}

<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="{{ product.cover.url }}"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498</div>
        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
        <div class="fs-5 mb-5">
          {% if product.promotional_price %}
            <span class="text-decoration-line-through d-block short-description">{{ product.price|format_currency_template }}</span>
            <span>{{ product.promotional_price|format_currency_template }}</span>
          {% endif %}
        </div>
        <p class="lead">
            {{ product.long_description|linebreaks }}
        </p>
        <div class="d-flex">
          <input
            class="form-control text-center me-3"
            id="inputQuantity"
            type="num"
            value="1"
            style="max-width: 3rem"
          />
          <form class="me-3" action="{% url "products:to-cart" product.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
              <i class="bi-cart-fill me-1"></i>
              {% translate "Add to cart" %}
            </button>
          </form>

          {% if request.user.is_authenticated %}
          <div class="dropdown-center">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-bookmark-fill"></i>
              <span class="ms-1">{% translate "Save for later" %}</span>
            </button>
            <ul class="dropdown-menu">
              {% for list in user_lists %}
              <form action="{% url "favorites:favorite_item" list.pk product.pk %}" method="post">
                {% csrf_token %}
                <li><button type="submit" class="dropdown-item">{{ list.name }}</button></li>
              </form>
              {% endfor %}

              {% if user_lists %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
              
              <li class="dropdown-item">
                <button type="button" class="btn-no-decoration" data-bs-toggle="modal" data-bs-target="#createList">{% translate "Create a new list" %}</button>
              </li>
            </ul>
          </div>
          {% else %}
            <a href="{% url "account_login" %}?next={% url "products:details" product.slug %}" class="btn btn-dark">
              {% translate "Login here to favorite this item!" %}
            </a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">{% translate "Related products" %}</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      {% for product in related_products %}
        {% include "partials/_product.html" %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}

